<% include ../partials/header %>
  <div class="container">
      <% if (errors.length > 0) { %>
        <% errors.forEach(err => { %>
            <div class="alert alert-danger"><%= err.text %></div>
        <% }); %>
      <% } %>
      <div class="col-md-6 mx-auto">
        <div class="card card-body">
          <h3 class="text-center">Account Register</h3>
          <form action="/users/register" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" value="<%= name %>" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" value="<%= email %>"required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" value="<%= password %>" required>
            </div>
            <div class="form-group">
              <label for="email">Confirm Password</label>
              <input type="password" class="form-control" name="rpassword" value="<%= rpassword %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
  </div>
<% include ../partials/scripts %>
</body>
</html>
